<!doctype html>
<html>
<head>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="./index.js" ></script>
  <link rel="stylesheet" href="./index.css" />
</head>
<body ng-app="SearchPage">
  <div class="content" ng-controller="searchController">
    <form class="search-form" ng-submit="initList(1)">
      <input type="text" ng-model="search" />
      <button type="submit" >Search</button>
    </form>
    <div class="search-info" ng-if="count" >
      <button ng-if="page > 1" ng-click="setPage(1)">First Page</button>
      <button ng-if="page > 1" ng-click="setPage(page - 1)">Page {{page - 1}}</button>
      <span>Displaying page {{page}} of {{maxPage}}</span>
      <button type="button" ng-if="page < maxPage" ng-click="setPage(page + 1)">
        Page {{page + 1}}
      </button>
      <button type="button" ng-if="page < maxPage" ng-click="setPage(maxPage)">
        Last Page
      </button>
    </div>
    <!-- Removing spaces between ul and li allows fine grain control over display inline-block-->
    <ul class="list"><li ng-repeat="item in list" >
        <h4>{{item.product.name}}</h4>
        <h5>Maker: {{item.brand.name}}</h5>
        <p>{{item.product.invoiceDescription}}</p>
        <a target="_blank" href="{{item.product.specificationSheetUrl}}">
          View Specification Sheet
        </a>
    </li></ul>
  </div>
</body>
</html>
