<!doctype html>
<html>
<head>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
  <script src="./index.js" ></script>
  <link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.css"></script>
</head>
<body ng-app="SearchPage">
  <p>
    This was Not done due to tableParams needing not emitting events when the filter is set.
    I wanted to cleanly use the ngtable api which I found unintuitive and as a result
    could not use their resource example. Additionally when I tried to retrieving all data and
    setting it, unfortunately it never updated. I have no idea what I am doing wrong since it seems
    to be silently failing.
  </p>
  <div class="content" ng-controller="searchController">
    <form class="search-form" ng-submit="initList(1)">
      <input type="text" ng-model="search" />
      <button type="submit" >Search</button>
    </form>
  </div>
  <table ng-table="searchController.tableParams" show-filter="true" class="table table-bordered table-striped">
    <tr ng-repeat="item in $data">
      <td title="'Name'"  filter="{name:'text'}"sortable="'productName'" >{{item.productName}}</td>
      <td title="'Maker'" sortable="'brandName'">{{item.brandName}}</td>
      <td title="'Description'" >{{item.description}}</td>
      <td title="'View Specification Sheet'">
        <a target="_blank" href="{{item.specifiction}}">Specification Sheet</a>
      </td>
    </tr>
  </table>
</body>
</html>
