.search-form, .search-info {
  text-align:center;
}

.list{
  width:100%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.list > li{
  display:inline-block;
  width: 300px;
  vertical-align: top;
}
